@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template">
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

 
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/datepicker3.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="../" class="logo">
                <img src="/assets/images/logo.png" height="35" alt="JSOFT Admin">
            </a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

        <!-- start: search & user box -->
        <div class="header-right">

            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown" aria-expanded="false">

                    <div class="profile-info">
                        <span class="name">@HttpContextAccessor.HttpContext.Session.GetString("LoginUser")</span>
                        <span class="role">学生/老师</span>
                    </div>

                    <i class="fa custom-caret"></i>
                </a>

                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i>修改个人信息</a>
                        </li>
                        <li>

                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano has-scrollbar">
                <div class="nano-content" tabindex="0" style="right: -17px;">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li class="nav-active">
                                <a href="@Url.Action("List","Student")">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>学生管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("List","Course")">

                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>课程管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="course.html">

                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>选课</span>
                                </a>
                            </li>
                            <li>
                                <a href="course.html">

                                    <i class="fa fa-align-left" aria-hidden="true"></i>
                                    <span>已选课程</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="nano-pane" style="display: none; opacity: 1; visibility: visible;"><div class="nano-slider" style="height: 850px; transform: translate(0px, 0px);"></div></div>
            </div>

        </aside>
        <!-- end: sidebar -->
        @RenderBody()

    </div>


    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.js"></script>
    <script src="/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/assets/vendor/raphael/raphael.js"></script>
    <script src="/assets/vendor/morris/morris.js"></script>
    <script src="/assets/vendor/gauge/gauge.js"></script>
    <script src="/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/javascripts/theme.init.js"></script>


    <!-- Examples -->
    <script src="/assets/javascripts/dashboard/examples.dashboard.js"></script>
</body>
</html>
