@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>课程管理</h2>
    </header>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
            </div>

            <h2 class="panel-title">课程管理详细页面</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" method="get">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputReadOnly">课程ID</label>
                    <div class="col-md-6">
                        <input type="text" value="Read-Only Input" id="inputReadOnly" class="form-control" readonly="readonly">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">课程名称</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">课程分数</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputPassword">Password</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" placeholder="" id="inputPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">保存</button>
                            </div>
                            <div class="visible-xs mb-md"></div>
                            <div class="col-sm-3">
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">返回</button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>


</section>
