@using Ocss.Service.Models
@model Student

<section role="main" class="content-body">
    <header class="page-header">
        <h2>学生管理</h2>
    </header>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
            </div>

            <h2 class="panel-title">学生详细页面</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" method="POST" action="@Url.Action("Save")">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputReadOnly">学生ID</label>
                    <div class="col-md-6">
                       @{
                            if (Model == null)
                            {
                                //一定是新建，不设置只读
                                <input type="text" name="StudentId" id="inputReadOnly" class="form-control">

                            }else{
                                //一定是编辑，需要只读
                                    <input type="text" name="StudentId" value="@Model?.StudentId" readonly="readonly" id="inputReadOnly" class="form-control">
                                }
                           // @Model?.StudentId 代表可空赋值
                       }
                       
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">学生名称</label>
                    <div class="col-md-6">

                        <input type="text" name="StudentName" value="@Model?.StudentName" class="form-control" id="inputDefault">
                    </div>
                </div>
               

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">
                                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">保存</button>
                            </div>
                            <div class="visible-xs mb-md"></div>
                            <div class="col-sm-3">
                                <button type="button" onclick="location.href='@Url.Action("List")'" class="mb-xs mt-xs mr-xs btn btn-default">返回</button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>


</section>
